In [1]:
import dagster
import sys
import pandas as pd
import pendulum
sys.path.append("/home/lmoraes/maestro")
from pathlib import Path

In [2]:
import repositories.capturas.br_rj_riodejaneiro_rdo.registros as pipeline
import repositories.capturas.solids as solids
import repositories.capturas.resources as resources
from repositories.helpers.helpers import read_config

In [3]:
# config = read_config("/home/lmoraes/maestro/repositories/capturas/br_rj_riodejaneiro_rdo/registros.yaml")
config = {
  "solids": {
    "load_and_reindex_csv": {
      "inputs": {
        "file_path": {"value": "/home/lmoraes/RDO_DATA/raw/br_rj_riodejaneiro_rdo/brt_rdo40_registros/ano=2018/mes=04/2018-04-BRT.csv"
      }},
      "config": {
        "read_csv_kwargs": {
          "delimiter": ",",
          "skiprows": 3,
          "names": [
            "TERMO",
            "LINHA",
            "SERVICO",
            "TERMO SERVICO",
            "TIPO DE VEICULO",
            "DATA ANO",
            "DATA MES",
            "DATA DIA",
            "TARIFA CODIGO",
            "TARIFA VALOR",
            "FROTA DETERMINADA",
            "FROTA LICENCIADA",
            "FROTA OPERANTE",
            "VIAGEM REALIZADA",
            "KM",
            "GRATUIDADE IDOSO",
            "GRATUIDADE ESPECIAL",
            "GRATUIDADE ESTUDANTE FEDERAL",
            "GRATUIDADE ESTUDANTE ESTADUAL",
            "GRATUIDADE ESTUDANTE MUNICIPAL",
            "GRATUIDADE RODOVIARIO",
            "GRATUIDADE TOTAL",
            "BUC 1a PERNA",
            "BUC 2a PERNA",
            "BUC RECEITA",
            "BUC SUPERVIA 1a PERNA",
            "BUC SUPERVIA 2a PERNA",
            "BUC SUPERVIA RECEITA",
            "VT PASSAGEIRO TRANSPORTADO",
            "VT RECEITA",
            "ESPECIE PASSAGEIRO TRANSPORTADO",
            "ESPECIE RECEITA",
            "TOTAL PASSAGEIRO TRANSPORTADO",
            "TOTAL RECEITA",
            "TIPO DE INFORMACAO",
            "UNIVERSITARIO"
          ],
        "index_col": False
        },
        "reindex_kwargs": {
            "columns": [
            "TERMO",
            "LINHA",
            "SERVICO",
            "TERMO SERVICO",
            "TIPO DE VEICULO",
            "DATA ANO",
            "DATA MES",
            "DATA DIA",
            "TARIFA CODIGO",
            "TARIFA VALOR",
            "FROTA DETERMINADA",
            "FROTA LICENCIADA",
            "FROTA OPERANTE",
            "VIAGEM REALIZADA",
            "KM",
            "GRATUIDADE IDOSO",
            "GRATUIDADE ESPECIAL",
            "GRATUIDADE ESTUDANTE FEDERAL",
            "GRATUIDADE ESTUDANTE ESTADUAL",
            "GRATUIDADE ESTUDANTE MUNICIPAL",
            "GRATUIDADE RODOVIARIO",
            "GRATUIDADE TOTAL",
            "BUC 1a PERNA",
            "BUC 2a PERNA",
            "BUC RECEITA",
            "BUC SUPERVIA 1a PERNA",
            "BUC SUPERVIA 2a PERNA",
            "BUC SUPERVIA RECEITA",
            "VT PASSAGEIRO TRANSPORTADO",
            "VT RECEITA",
            "ESPECIE PASSAGEIRO TRANSPORTADO",
            "ESPECIE RECEITA",
            "TOTAL PASSAGEIRO TRANSPORTADO",
            "TOTAL RECEITA",
            "TIPO DE INFORMACAO",
            "UNIVERSITARIO"
          ]
        }
      }
    }
  }
}

In [4]:
result = dagster.execute_pipeline(pipeline.hello_world_pipeline, 
                                  run_config = config)

2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - ENGINE_EVENT - Starting initialization of resources [io_manager].
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - ENGINE_EVENT - Finished initialization of resources [io_manager].
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - PIPELINE_START - Started execution of pipeline "hello_world_pipeline".
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - ENGINE_EVENT - Executing steps in process (pid: 19080)
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - STEP_START - Started execution of step "load_and_reindex_csv".
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - STEP_INPUT - Got input "file_path" of type "String". (Type check passed).
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - STEP_OUTPUT - Yielded output "result" of type "Any". (Type check passed).
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - HANDLED_OUTPUT - Handled output "result" using output manager "io_manager"
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - STEP_SUCCESS - Finished execution of step "load_and_reindex_csv" in 40ms.
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - ENGINE_EVENT - Finished steps in process (pid: 19080) in 48ms
2021-04-22 15:55:14 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - PIPELINE_SUCCESS - Finished execution of pipeline "hello_world_pipeline".

In [5]:
df = result.output_for_solid('load_and_reindex_csv')

2021-04-22 15:55:28 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - ENGINE_EVENT - Starting initialization of resources [io_manager].
2021-04-22 15:55:28 - dagster - DEBUG - hello_world_pipeline - 961112a5-b54c-4b3f-8f6d-05e73858c393 - 19080 - load_and_reindex_csv - ENGINE_EVENT - Finished initialization of resources [io_manager].

In [6]:
df

,TERMO,LINHA,SERVICO,TERMO SERVICO,TIPO DE VEICULO,DATA ANO,DATA MES,DATA DIA,TARIFA CODIGO,TARIFA VALOR,...,BUC SUPERVIA 2a PERNA,BUC SUPERVIA RECEITA,VT PASSAGEIRO TRANSPORTADO,VT RECEITA,ESPECIE PASSAGEIRO TRANSPORTADO,ESPECIE RECEITA,TOTAL PASSAGEIRO TRANSPORTADO,TOTAL RECEITA,TIPO DE INFORMACAO,UNIVERSITARIO
0,221000050,5700,A,1,45,2018,4,1,A,3.6,...,0,0.0,0,0.0,0,0.0,0,-,1,0
1,221000050,5700,A,1,45,2018,4,2,A,3.6,...,0,0.0,0,0.0,0,0.0,0,-,1,0
2,221000050,5700,A,1,45,2018,4,3,A,3.6,...,0,0.0,0,0.0,0,0.0,0,-,1,0
3,221000050,5700,A,1,45,2018,4,4,A,3.6,...,0,0.0,0,0.0,0,0.0,0,-,1,0
4,221000050,5700,A,1,45,2018,4,5,A,3.6,...,0,0.0,0,0.0,0,0.0,0,-,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5492,221000050,870,A,1,50,2018,4,26,A,3.6,...,0,0.0,325,1170.0,286,1029.6,1938,2676.96,0,60
5493,221000050,870,A,1,50,2018,4,27,A,3.6,...,0,0.0,310,1116.0,256,921.6,2100,2500.2,0,53
5494,221000050,870,A,1,50,2018,4,28,A,3.6,...,0,0.0,233,838.8,178,640.8,1170,1857.96,0,27
5495,221000050,870,A,1,50,2018,4,29,A,3.6,...,0,0.0,105,378.0,105,378.0,459,895.68,0,12
5496,221000050,870,A,1,50,2018,4,30,A,3.6,...,0,0.0,374,1346.4,315,1134.0,1693,3042.72,0,47